[mysqld]
user=mysql
character_set_server = utf8mb4
# MySQL:8.0
# collation_server = utf8mb4_ja_0900_as_cs_ks
# MySQL:5.7
collation_server = utf8mb4_general_ci
explicit_defaults_for_timestamp = 1
lower_case_table_names=2

# timezone
default-time-zone = SYSTEM
#default-time-zone = 'Asia/Tokyo'
log_timestamps = SYSTEM

# Error Log
log-error = mysql-error.log

# Slow Query Log
slow_query_log = 1
slow_query_log_file = mysql-slow.log
long_query_time = 1.0
log_queries_not_using_indexes = 0

# General Log
general_log = 1
general_log_file = mysql-general.log

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4
