
/*
ブラウザの高さと幅に画面(viewport)を合わせるための
ラッパークラス
*/
.c-section {
    position: relative;
    height: 100vh;
    width: 100%;
}

.c-box {
    background: #fff;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-sizing: border-box;
    height: 592px;
    max-width: 432px;
    padding: 0 1rem;
    width: 100%;

    /* Vertical and horizontal center alignment */
    /* c-sectionに対して上下左右中央寄せ */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
Flex Boxを作るCSSスタイル
カラム型にFlex Itemを表示する
*/
.c-grid__answer {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    height: 192px;
}

.p-chat__bubble {
    background: #41B6E6;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: .5rem;
    margin-right: 1rem;
    max-width: 80%;
    width: auto;
}

.p-chat__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 0 !important;
}

.p-chat__reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-right: 0 !important;
}

.p-question__title {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 0 1rem 0;
}

.p-question__description {
    font-size: 1rem;
    letter-spacing: .125rem;
    line-height: 1.7;
}

/* 収集 */

.c-dl {
    text-align: left;
    /* margin-bottom: 0; */

    /* dlタグの中で要素を横並びにする */
    dt {
        float: left;
    }

    /**
    間を空ける
    注意:padding-bottomが無いと、二行目のレイアウトが崩れる
    */
    dd {
        padding-left: 32px;
        padding-bottom: 8px;
    }
}

.c-list {
    /** 一覧表示のレシポンシブレイアウト */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /** グリッド感のスペース */
    grid-gap: 20px;
}

.c-vertical-center {
    /** 縦並び中央揃え */
    display: flex;
    flex-direction: column;
    align-items: center;    
}   

.c-horizontal-center {
    /** 横並び中央揃え */
    display: flex;
    justify-content: center;
    align-items: center;
}    

